@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');

/* Paleta de colores
#62262e bordo
#c03f4b rosa
#f7cfc1 crema
#8b6a69 bordo mas claro
#c4b9c0 gris oscuro
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kufam', sans-serif;
    scroll-behavior: smooth;
    background-color: #c4b9c0;
}

header {
    position: sticky;
    top: 0;
}

nav {
    width: 100%;
    height: 4.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8b6a69;
}

.a-nav {
    text-decoration: none;
    color: #62262e;
    font-size: 1.15em;
    background-color: #8b6a69;

}

.a-nav:hover {
    color: #c4b9c0;
    text-decoration: underline;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    background-color: #8b6a69;
}

/* Menú hamburguesa */


.nav-links.active {
    display: flex;
    margin-top: 0px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;

}

.bar {
    width: 25px;
    height: 3px;
    background-color: #62262e;
    margin: 3px 0;
    border-radius: 3px;
}

/* Main - Sobre mi */

.container-principal {
    display: flex;
    width: 100%;
    height: 90vh;
}

.container-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.img-leonel {
    width: 95%;
    height: 95%;
    object-fit: scale-down;
}

.container-presentacion {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #62262e;
    padding: 1.5em;
    text-align: center;
}

.redes {
    display: flex;
    width: 100%;
    height: 4em;
    justify-content: space-evenly;
    align-items: center;
}

.img-redes {
    width: 3em;
}

.img-redes:hover {
    width: 3.25em;
    transition: .1s;
}

h1,
h2,
.p-presentacion {
    margin: .5em;
}

.redes {
    margin-top: 2em;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2em;
    border-bottom: 3px solid #62262e;
}

.p-presentacion {
    font-size: 1.25em;
}

/* Seccion habilidades */

.habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 1.5em;
}

.container-habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5em;
    width: 35em;
    text-align: center;
}

.img-habilidades {
    width: 5em;
}

h3,
.p-habilidades,
.img-habilidades {
    margin-top: .5em;
}

h3,
.p-habilidades {
    color: #62262e;
}

/* Proyectos  */

.proyectos {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-proyectos {
    width: 20em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5em;
    padding: .5em;
    border: 3px solid #8b6a69;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px 5px #62262e;
    background-color: #8b6a69;
}

.titulo-proyectos {
    width: 100%;
    color: #62262e;
    background-color: #8b6a69;
}

.p-proyectos {
    color: #62262e;
}

.img-proyectos {
    width: 100%;
}

.a-proyectos {
    text-decoration: none;
    color: #c4b9c0;
    background-color: #62262e;
    padding: .5em;
    border-radius: 3px;
}

.a-proyectos:hover {
    background-color: #8b6a69;
    color: #62262e;
    box-shadow: 5px 5px 2px #62262e;
    transition: .3s;
}

/* CONTACTO */

.contacto {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45em;
    height: 25em;
    border: 3px solid #8b6a69;
    border-radius: 5px;
}

h4 {
    font-size: 1.5em;
    color: #62262e;
}

h4,
form {
    margin: 1em;
}

form {
    width: 30em;
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
    height: 3.5em;
    margin: .5em;
    border: transparent;
    border-bottom: 2px solid #8b6a69;
}

textarea {
    margin: .5em;
    width: 100%;
    resize: none;
    height: 100%;
    border: transparent;
    border-bottom: 2px solid #8b6a69;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #8b6a69;
}

.p-footer {
    background-color: #8b6a69;
    color: #62262e;
}

strong {
    background-color: transparent;
}

/* Media Query para mostrar u ocultar el menú hamburguesa */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
        background-color: #8b6a69;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #8b6a69;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        padding: 20px 0px 20px 0px;
        z-index: 1;
        gap: 10px;
    }

    .nav-links.active {
        display: flex;

    }

    .container-img,
    .img-leonel {
        display: none;
    }

    .container-principal {
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }

    .container-presentacion {
        width: 100%;
    }

    .habilidades {
        height: auto;
        flex-direction: column;
        width: 100%;
    }

    .container-habilidades {
        width: 100%;
    }

    .proyectos {
        height: auto;
        flex-direction: column;
    }

    .contacto {
        height: auto;
        width: 100%;
        padding: 2em;
    }

    .container-form {
        width: 100%;
    }

    form {
        width: 100%;
        padding: 2em;
    }

    h1 {
        font-size: 2em;
    }

    h4{
        font-size: 1em;
    }

    .container-proyectos{
       width: 15em;
       height: 15em;
    }

    footer{
        width: 100%;
    }

    .p-footer{
        font-size: .75em
    }
}

@media (max-width: 1100px) {
    .proyectos{
        height: auto;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    .habilidades{
        margin-top: 3em;
        height: auto;
        flex-wrap: wrap;
    }
}